
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item NOT Deleted!</title>
</head>
<body>
    <label>ITEM NOT DELETED</label>
    <div>
    </div>
</body>
</html>
